<div class="p-3 mb-2 bg-light text-dark">



<h1> Welcome Admin: {{user}}</h1> 


    <table class="table">
        <thead>
            <tr>

                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
            </tr>

            <tr>
                <td>{{Monday}}</td>
            </tr>
        </thead>
        <tbody>


        </tbody>
    </table>


    <form action="/logOutBtn" method="GET">
        <button type="submit" name="">LogOut</button>
    </form>
</div>

</div>