<div class="text-center">
    <h1 class="large"> Welcome back!</h1>

    {{!-- <h3>Enter User ID:</h3> --}}
    <label>Enter User ID:</label>
    <form action="/loginBtn" method="POST">

        <div class="">
            <input type="text" name="inputBox" value="" placeholder="">
        </div>

                <button type="submit" name="">Login</button>
    </form>
</div>