<div class="login">
    <h1> Welcome </h1>

    <h3>Choose login option:</h3>

    <form action="/stuffBtn" method="GET">
        <button type="submit" name="">Stuff</button>
    </form>


    <form action="/adminBtn" method="GET">
        <button type="submit" name="">Admin</button>
    </form>
</div>