<div class="stuff">

    <h1>Welcome</h1>


    <h3>User ID: {{user}} </h3>

    <form action="/submitBtn/{{user}}" method="POST">

        <fieldset class="weekday-select" data-name="days" id="days">
            <div class="week-parts">
                <label>
                    <input type="checkbox" value="Monday" name="days"> Monday
                </label>
                <label>
                    <input type="checkbox" value="Tuesday" name="days"> Tuesday
                </label>
                <label>
                    <input type="checkbox" value="Wednesday" name="days"> Wednesday
                </label>
                <label>
                    <input type="checkbox" value="Thursday" name="days"> Thursday
                </label>
                <label>
                    <input type="checkbox" value="Friday" name="days"> Friday
                </label>
                <label>
                    <input type="checkbox" value="Saturday" name="days"> Saturday
                </label>
                <label>
                    <input type="checkbox" value="Sunday" name="days"> Sunday
                </label>
            </div>
        </fieldset>

        <button type="submit" name="">Submit or Edit</button>
    </form>

    <form action="/logOutBtn" method="GET">
        <button type="submit" name="">LogOut</button>
    </form>

</div>